# FILEPATH: /home/raspi/pilomar/.gitignore

# Python
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/

# Video Files
*.mp4
*.avi
*.mkv
*.mov

# Image Files
*.jpg
*.jpeg
*.png
*.raw

# Log folder
log/
